EXPID: OutputDir/GEOSChem

COLLECTIONS: 'Restart',
'SpeciesConcThreeHourly',
'LevelEdgeDiagsThreeHourly',
'StateMetThreeHourly',
::
Restart.filename: './Restarts/GEOSChem.Restart.%y4%m2%d2_%h2%n2z.nc4',
Restart.format: 'CFIO',
Restart.frequency: 00000100 000000,
Restart.duration: 00000100 000000,
Restart.mode: 'instantaneous',
Restart.fields: 'SpeciesRst_?ALL?', 'GIGCchem',
'Met_DELPDRY', 'GIGCchem',
'Met_PS1WET', 'GIGCchem',
'Met_PS1DRY', 'GIGCchem',
'Met_SPHU1', 'GIGCchem',
'Met_TMPU1', 'GIGCchem',
::
SpeciesConcThreeHourly.template: '%y4%m2%d2_%h2%n2z.nc4',
SpeciesConcThreeHourly.format: 'CFIO',
SpeciesConcThreeHourly.frequency: 00000000 030000,
SpeciesConcThreeHourly.duration: 00000001 000000,
SpeciesConcThreeHourly.mode: 'time-averaged',
SpeciesConcThreeHourly.fields: 'SpeciesConcVV_?ADV?', 'GIGCchem',
::
LevelEdgeDiagsThreeHourly.template: '%y4%m2%d2_%h2%n2z.nc4',
LevelEdgeDiagsThreeHourly.format: 'CFIO',
LevelEdgeDiagsThreeHourly.frequency: 00000000 030000,
LevelEdgeDiagsThreeHourly.duration: 00000001 000000,
LevelEdgeDiagsThreeHourly.mode: 'time-averaged',
LevelEdgeDiagsThreeHourly.fields: 'Met_PEDGE', 'GIGCchem',
'Met_PEDGEDRY', 'GIGCchem',
::
StateMetThreeHourly.template: '%y4%m2%d2_%h2%n2z.nc4',
StateMetThreeHourly.format: 'CFIO',
StateMetThreeHourly.frequency: 00000000 030000,
StateMetThreeHourly.duration: 00000001 000000,
StateMetThreeHourly.mode: 'time-averaged',
StateMetThreeHourly.fields: 'Met_AVGW', 'GIGCchem',
'Met_BXHEIGHT', 'GIGCchem',
::